<section class="banner overflow-hidden">
  <div class="container px-md-0">
    <div class="swiper overflow-visible" id="mainBanner">
      <div class="swiper-wrapper">
        <div class="swiper-slide position-relative">
          <h2 class="h1 text-gray-400 position-absolute top-50 start-50 translate-middle">一站式高級食材專門店</h2>
          <img src="/assets/images/swiper-banner-1.png" class="img-fluid d-none d-lg-block" alt="一站式高級食材專門店">
          <img src="/assets/images/swiper-banner-sm-1.png" class="img-fluid d-lg-none" alt="一站式高級食材專門店">
        </div>
        <div class="swiper-slide position-relative">
          <h2 class="h1 text-gray-400 position-absolute top-50 start-50 translate-middle">國際認可衛生標準生產廠房</h2>
          <img src="/assets/images/swiper-banner-2.png" class="img-fluid d-none d-lg-block" alt="國際認可衛生標準生產廠房">
          <img src="/assets/images/swiper-banner-sm-2.png" class="img-fluid d-lg-none" alt="國際認可衛生標準生產廠房">
        </div>
        <div class="swiper-slide position-relative">
          <h2 class="h3 text-gray-400 position-absolute top-50 start-50 translate-middle">
            送貨服務<br />最快3個工作天<br />購物滿$500即可免運費
          </h2>
          <img src="/assets/images/swiper-banner-3.png" class="img-fluid d-none d-lg-block" alt="送貨服務,最快3個工作天,購物滿$500即可免運費">
          <img src="/assets/images/swiper-banner-sm-3.png" class="img-fluid d-lg-none" alt="送貨服務,最快3個工作天,購物滿$500即可免運費">
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <a href="javascript:;" class="swiper-button-prev d-none d-lg-block"></a>
      <a href="javascript:;" class="swiper-button-next d-none d-lg-block"></a>
    </div>
  </div>
</section>
