<section class="banner overflow-x-hidden">
  <div class="container">
    <div class="banner-outer">
      <div class="swiper" id="mainBanner">
        <div class="swiper-wrapper">
          <div class="swiper-slide position-relative">
            <h2 class="h1 text-gray-400 position-absolute top-50 start-50 translate-middle">一站式高級食材專門店</h2>
            <img src="/assets/images/swiper-banner-1.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide position-relative">
            <h2 class="h1 text-gray-400 position-absolute top-50 start-50 translate-middle">國際認可衛生標準生產廠房</h2>
            <img src="/assets/images/swiper-banner-2.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide position-relative">
            <h2 class="h3 text-gray-400 position-absolute top-50 start-50 translate-middle">
              送貨服務<br />最快3個工作天<br />購物滿$500即可免運費
            </h2>
            <img src="/assets/images/swiper-banner-3.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide position-relative">
            <h2 class="h1 text-gray-400 position-absolute top-50 start-50 translate-middle">一站式高級食材專門店</h2>
            <img src="/assets/images/swiper-banner-1.png" class="img-fluid" alt="">
          </div>
          <div class="swiper-slide position-relative">
            <h2 class="h3 text-gray-400 position-absolute top-50 start-50 translate-middle">
              送貨服務<br />最快3個工作天<br />購物滿$500即可免運費
            </h2>
            <img src="/assets/images/swiper-banner-3.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev d-none d-lg-block"></div>
        <div class="swiper-button-next d-none d-lg-block"></div>
      </div>
    </div>
  </div>
</section>
