<header class="header">
  <nav class="navbar navbar-expand-lg bg-brand-100 pt-lg-4">
    <div class="container align-items-start">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="" class="img-fluid">
      </a>

      <div class="offcanvas offcanvas-top bg-brand-100" data-bs-backdrop="static" tabindex="-1" id="mainMenu" aria-labelledby="mainMenu">
        <div class="px-4">
          <div class="offcanvas-header justify-content-end">
            <a class="icon icon-close d-block" id="menuCloseBtn" type="button">Close Mobile Menu</a>
          </div>
          <div class="offcanvas-body d-lg-flex flex-lg-column justify-content-lg-center h-100">
            <div class="col-xl-10 mx-auto">
              <form action="" role="search" class="search-form mb-5 mb-lg-1 col-lg-10 mx-auto">
                <input class="form-control ps-9 py-3 border-0 rounded-24 bg-brand-200 text-brand-300 inputSearch" type="search" aria-label="Search" placeholder="Search">
              </form>
              <ul class="nav flex-column flex-lg-row justify-content-center justify-content-lg-between pt-lg-2 pb-lg-1">
                <li class="nav-item">
                  <a class="nav-link text-center" aria-current="page" href="#">貨品總覽</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center" href="#">最新消息</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center" href="#">條款及細則</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-center" href="#">常見問題</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="siteTools d-flex">
        <ul class="list-unstyled d-flex align-items-cneter mb-0 p-0 me-3">
          <li class="lh-0 me-3"><a href="javascript:;" class="icon icon-login">Login</a></li>
          <li class="lh-0"><a href="javascript:;" class="icon icon-cart">Cart</a></li>
        </ul>
        <a class="icon icon-menu d-block d-lg-none" id="menuBtn" type="button">Open Mobile Menu</a>
      </div>

    </div>
  </nav>
</header>
