<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  <main>
    <%- include('./layout/banner'); -%>
      <!-- content here -->
      <div class="container">
        <section class="py-6 py-lg-7">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 gx-lg-8">
            <div class="col text-center">
              <div class="p-4 h-100 border border-2 border-brand-300 rounded-16 shadow-hover">
                <div class="mb-4"><img src="../assets/images/intro.png"></div>
                <div>
                  <p class=" mb-4 h5 fw-bold">更優質</p>
                  <p class="mb-0">環球供應商全經嚴謹挑選，品牌皆屬同類產品中的頂級，每件貨品均為原廠優質出品</p>
                </div>
              </div>
            </div>
            <div class="col text-center">
              <div class="p-4 h-100 border border-2 border-brand-300 rounded-16 shadow-hover">
                <div class="mb-4"><img src="../assets/images/intro.png"></div>
                <div>
                  <p class=" mb-4 h5 fw-bold">更安全</p>
                  <p class="mb-0">所有產品均依法直接進口。每批來貨均附有原產地發出之衛生檢定証書，使所有產品均可追蹤產地來源，食品安全絕對保証</p>
                </div>
              </div>
            </div>
            <div class="col text-center">
              <div class="p-4 h-100 border border-2 border-brand-300 rounded-16 shadow-hover">
                <div class="mb-4"><img src="../assets/images/intro.png"></div>
                <div>
                  <p class=" mb-4 h5 fw-bold">更實惠</p>
                  <p class="mb-0">因產品是直接進口，大大減少中間商利潤，故DeliFans會以更超值之優惠價格發售</p>
                </div>
              </div>
            </div>
            <div class="col text-center">
              <div class="p-4 h-100 border border-2 border-brand-300 rounded-16 shadow-hover">
                <div class="mb-4"><img src="../assets/images/intro.png"></div>
                <div>
                  <p class=" mb-4 h5 fw-bold">更貼心</p>
                  <p class="mb-0">於行內逾三十多年的豐富經驗，對環球優質食材的豐富產品知識，以至烹調及處理方法均樂意與大家一同分享</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <section class="py-6 py-lg-7">
        
      </section>
  </main>

  <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>