<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <%- include('./layout/banner'); -%>
    </main>

    <!-- content here -->
    <!-- <p class="text-brand-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-lineColor">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-lineColor">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-lineColor">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-lineColor">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-lineColor">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-lineColor">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-brand-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-100">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-200">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-300">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-gray-400">移除或修改數值，以更新他們在許多其他元件中的使用方式</p>
    <p class="text-lineColor">移除或修改數值，以更新他們在許多其他元件中的使用方式</p> -->

    <!-- <%- include('./layout/footer'); -%> -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
